*.png
*.bak
/db
/simulation
/incremental_db
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
/output_files
/.sopc_builder
/sopc_builder_log.txt
/nios_system_log.txt
*.html
*.bsf
*.ptf.*
/.metadata
*.elf
*.map
*.objdump
obj
*.swp
*.a
nios_workspace
__pycache__

hps_sdram_p0_summary.csv
vcd/
obj/
.qsys_edit/
platform/
platform.sopcinfo
hps_isw_handoff/
*~
*.vcd
qmegawiz_errors_log.txt
cr_ie_info.json
